@use './util/index' as m;
@use './util/variabls' as v;
@use './util/media-query' as q;

// variable  
$light: v.$light;
$dark: v.$dark;
$c1D3573: v.$c1D3573;
$cFFD43C: v.$cFFD43C;
$c171B1E: v.$c171B1E;
$c717579: v.$c717579;
$bxs: v.$bxs;
$cEEEEEE: v.$cEEEEEE;
$cd7d7d7: v.$cd7d7d7;
$grn: v.$grn;

// regular css @s

// regular css @e


// ======= responsive css @s
// small phone device
@include q.responsive(phone) {
     
}

// landscape phone device 
@include q.responsive(landphone) {
     
}

// tablet device 
@include q.responsive(tablet) {
     
}
// tablet device 
@include q.responsive(landtablet) {
     
}

// tablet device 
@include q.responsive(regular) {
     
}

// ======= responsive css @e