$dark: #000000;
$light: #ffffff;
$c1D3573: #1D3573;
$cFFD43C: #FFD43C;
$c171B1E: #171B1E;
$c717579: #717579;
$cEEEEEE: #EEEEEE;
$cd7d7d7: #d7d7d7;
$grn: #09BD3C;
$bxs: 0px 4px 4px rgba(0, 0, 0, 0.04);